{% extends 'search/layout.html' %}



{% block body %}
<div class="whole_page">
    <div class="logo">
        <img src="https://mms.businesswire.com/media/20180611005885/en/662668/5/3398112_nouveau-logo-google.jpg?download=1">
    </div>
    <div class="search_bar">
        <form action="https://google.co.uk/search">
            <input type="text" name="q"><br>
            <input type="submit" value="Google Search">
            <input type="submit" value="I'm Feeling Lucky" formaction="">
        </form>
    </div>
</div>
{% endblock %}